<h2>Product List</h2>
<a href="{% url 'product_create' %}">+ Add Product</a>
<table>
  <tr><th>Name</th><th>Category</th><th>Cost</th><th>Price</th><th>Unit</th><th>Actions</th></tr>
  {% for p in products %}
  <tr>
    <td>{{ p.name }}</td>
    <td>{{ p.category.name }}</td>
    <td>{{ p.cost_price }}</td>
    <td>{{ p.selling_price }}</td>
    <td>{{ p.unit }}</td>
    <td>
      <a href="{% url 'product_update' p.id %}">Edit</a> |
      <a href="{% url 'product_delete' p.id %}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>